@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --tertiary-color: #00adb5;
  --quaternary-color: #eeeeee;
  --temp-border-color: #c9c9c9;
}

body {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--quaternary-color);
}

/* Layout */
/* 모바일 우선 */
.container {
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid var(--temp-border-color); */
}

#top {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#right {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#bottom {
  padding: 20px;
  border: 1px solid var(--temp-border-color);
}

@media screen and (min-width: 940px) {
  .container {
    width: 940px;
  }

  #middle {
    height: 640px;
  }

  #left {
    width: 260px;
    height: 100%;
    float: left;
  }

  #right {
    height: 100%;
    margin-bottom: 0;
    width: 580px;
    float: right;
  }

  #bottom {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Navigation */
@keyframes nav_menu_open {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 16px;
  }
}

#nav {
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  background-color: var(--primary-color);
  position: relative;
  box-shadow: 1px 1px 1px var(--primary-color);
}

#nav_logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--quaternary-color);
}

#nav_logo > a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
  font-family: "Nova Round", cursive;
  color: var(--quaternary-color);
}

#nav_menu {
  display: none;
  flex-direction: column;
  padding-left: 0;
}

#nav_menu.active {
  display: flex;
  animation-name: nav_menu_open;
  animation-duration: 0.8s;
  -webkit-animation-name: nav_menu_open;
  -webkit-animation-duration: 0.8s;
}

#nav_menu > li {
  text-align: center;
  list-style-type: none;
  padding: 8px 12px;
}

#nav_menu > li:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

#nav_menu > li > a {
  text-decoration: none;
  color: var(--quaternary-color);
}

#nav_links {
  display: none;
  text-align: center;
  padding-left: 0;
}

#nav_links.active {
  display: block;
}

#nav_links > li {
  list-style-type: none;
}

#nav_links > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  color: var(--quaternary-color);
}

#nav_toggle {
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  right: 20px;
  color: var(--quaternary-color);
}

@media screen and (min-width: 940px) {
  #nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #nav_menu {
    display: flex;
    flex-direction: row;
  }

  #nav_links {
    display: block;
  }

  #nav_toggle {
    display: none;
  }
}

/* Carousel */
.carousel {
  border: 1px solid var(--temp-border-color);
}

.carousel_img {
  width: 100%;
}

@keyframes carousel_progress_bar_animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.carousel_progress_bar {
  background-color: var(--tertiary-color);
  height: 8px;
  border-radius: 8px;
}

/* Shuffle */
#player {
  /* display: none; */
  width: 100%;
  height: 50%;
}

#playlist_selector_wrapper {
  margin: 8px 0;
}
#playing_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

#controllers a {
  font-size: 24px;
  color: black;
}

#controllers a:nth-child(3) {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  border: 1px solid black;
}

@keyframes volBox_close {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#volBox {
  width: 180px;
  height: 150px;
  padding: 16px;
  margin-left: -100px;
  margin-top: -75px;
  border-radius: 16px;
  background-color: rgba(188, 188, 188, 0.7);
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  animation-name: volBox_close;
  animation-duration: 2s;
  -webkit-animation-name: volBox_close;
  -webkit-animation-duration: 2s;
}

#volBox i {
  margin: 35px 0;
  font-size: 48px;
}

#volBox div {
  max-width: 150px;
  height: 8px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: black;
}

@media screen and (min-width: 940px) {
  #shuffle_player {
    margin-top: 50px;
  }
  #player {
    height: 280px;
  }
}

/* Home-Playlists */
.playlist_container {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}

.playlist_item {
  text-align: center;
}

.playlist_item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: black;
}

/* Playlists */
.playlists_table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

.playlists_table tr {
  border: 1px solid black;
}

.playlists_description {
  display: block;
  margin-bottom: 8px;
}

#go_to_shuffle {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

#check_me {
  margin-top: 32px;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 940px) {
  .playlist_item img {
    width: 100px;
    height: 100px;
  }
  #check_me {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

/* About */
#about_moodee {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#about_motto {
  clear: both;
  text-align: center;
  margin: 60px 0;
  font-size: 20px;
}

@media screen and (min-width: 940px) {
  #about_moodee {
    width: 35%;
    margin-right: 40px;
    display: inline;
    float: left;
  }

  #about_motto {
    clear: both;
    margin: 40px auto;
    font-size: 24px;
    text-align: center;
  }

  #about_content {
    padding: 30px 0;
  }
}

/* Conversation */
#conversation_header {
  text-align: center;
}
#conversation_description {
  text-align: center;
  line-height: 24px;
}

/* Equipment */

.equip_intro li {
  line-height: 24px;
}

.equip_figure figcaption {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  color: grey;
}

.equip_img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.equip_item p {
  line-height: 24px;
}

@media screen and (min-width: 940px) {
  .equip_intro {
    padding: 0 64px;
  }
}

/* Clock */
#clock {
  margin: 10px 0;
  font-size: 32px;
  text-align: center;
}

@media screen and (min-width: 940px) {
  #clock {
    display: flex;
    margin: 0;
    font-size: 32px;
    align-items: center;
    justify-content: center;
  }
}
