@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

:root {
  --first-bg-color: #85586f;
  --second-bg-color: #ac7d88;
  --third-bg-color: #deb6ab;
  --fourth-bg-color: #f8ecd1;
  --temp-border-color: #bcbcbc;
}

body {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--fourth-bg-color);
}

/* Layout */
/* 모바일 우선 */
.container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--temp-border-color);
}

#top {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#right {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--temp-border-color);
}

#bottom {
  padding: 20px;
  border: 1px solid var(--temp-border-color);
}

@media screen and (min-width: 940px) {
  .container {
    width: 940px;
  }

  #left {
    width: 260px;
    height: 100%;
    float: left;
  }

  #right {
    width: 580px;
    float: right;
  }

  #bottom {
    clear: both;
  }
}

/* Navigation */
@keyframes nav_menu_open {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 16px;
  }
}

#nav {
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  background-color: var(--first-bg-color);
  position: relative;
  box-shadow: 1px 1px 1px var(--first-bg-color);
}

#nav_logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

#nav_logo > a {
  text-decoration: none;
  color: black;
  margin: 0 16px;
}

#nav_menu {
  display: none;
  flex-direction: column;
  padding-left: 0;
}

#nav_menu.active {
  display: flex;
  animation-name: nav_menu_open;
  animation-duration: 0.8s;
  -webkit-animation-name: nav_menu_open;
  -webkit-animation-duration: 0.8s;
}

#nav_menu > li {
  text-align: center;
  list-style-type: none;
  padding: 8px 12px;
}

#nav_menu > li:hover {
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

#nav_menu > li > a {
  text-decoration: none;
  color: black;
}

#nav_links {
  display: none;
  text-align: center;
  padding-left: 0;
}

#nav_links.active {
  display: block;
}

#nav_links > li {
  list-style-type: none;
}

#nav_links > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#nav_toggle {
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  right: 20px;
  color: black;
}

@media screen and (min-width: 940px) {
  #nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #nav_menu {
    display: flex;
    flex-direction: row;
  }

  #nav_links {
    display: block;
  }

  #nav_toggle {
    display: none;
  }
}

/* Carousel */
.carousel {
  border: 1px solid var(--temp-border-color);
}

.carousel_img {
  width: 100%;
}

@keyframes carousel_progress_bar_animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.carousel_progress_bar {
  background-color: var(--second-bg-color);
  height: 8px;
  border-radius: 8px;
}

/* Shuffle */
#player {
  /* display: none; */
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

#playlist_selector_wrapper {
  margin: 8px 0;
}
#playing_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

#controllers a {
  font-size: 24px;
  color: black;
}

#controllers a:nth-child(3) {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;
  border: 1px solid black;
}

@keyframes volBox_close {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#volBox {
  width: 180px;
  height: 150px;
  padding: 16px;
  margin-left: -100px;
  margin-top: -75px;
  border-radius: 16px;
  background-color: rgba(188, 188, 188, 0.7);
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
  animation-name: volBox_close;
  animation-duration: 2s;
  -webkit-animation-name: volBox_close;
  -webkit-animation-duration: 2s;
}

#volBox i {
  margin: 35px 0;
  font-size: 48px;
}

#volBox div {
  max-width: 150px;
  height: 8px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: black;
}

/* Playlists */
.playlist_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
}

.playlist_item {
  text-align: center;
}
