/* initialize CSS  */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#top {
  background-color: red;
}

#middle {
  overflow: hidden;
}

#middle-left {
  width: 320px;
  float: left;
  background-color: green;
}

#middle-right {
  width: 640px;
  float: right;
  background-color: yellow;
}

#bottom {
  background-color: blue;
}
